.testimonials {
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 600px;
    width: 100%;
    position: absolute;
    top: -70px;
    right: 0;
    background: url(../media/light-video.png) no-repeat top / 100%;
    z-index: -1;

    @media (max-width: $tablet) {
      top: -120px;
      background: url(../media/light-video-mobile.png) no-repeat top / 100%;
    }
  }

  &::after {
    content: "";
    display: block;
    height: 400px;
    width: 100%;
    position: absolute;
    top: 1150px;
    right: 0;
    background: url(../media/vector-our-work.svg) no-repeat top / 100%;
    z-index: -1;

    @media (max-width: $tablet) {
      background: none;
    }
  }

  &__container {
    position: relative;
    overflow: hidden;
  }

  &__hero {
    &__image {
      width: 100%;
      max-width: 100%;
      max-height: 700px;
      margin: auto;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    &__text {
      margin-top: 120px;
      padding-left: 264px;

      @media (min-width: $tablet) and (max-width: $desktop-xl) {
        margin-top: 80px;
        padding-left: 200px;
      }

      @media (max-width: $tablet) {
        margin-top: 48px;
        padding-left: 0;
      }

      h2 {
        font-family: $font-primary-bold;
        @include font-style(64px, 68px);

        @media (min-width: $tablet) and (max-width: $desktop) {
          @include font-style(49px, 52px);
          padding-left: 0;
        }

        @media (max-width: $tablet) {
          @include font-style(32px, 38px);
          padding-left: 0;
        }
      }

      p {
        margin-top: 80px;
        @include font-style(44px, 56px);

        @media (max-width: $tablet) {
          margin-top: 24px;
          @include font-style(20px, 30px);
        }
      }
    }

    &__list {
      display: flex;
      margin-top: 293px;
      margin-left: 5vw;
      padding-bottom: 30px;
      padding-right: 5vw;
      overflow: auto;
      gap: 40px;

      @media (max-width: $tablet) {
        margin-top: 165px;
      }

      &__item {
        &__image {
          height: 600px;
          width: 560px;
          border-radius: 20px;
          overflow: hidden;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);

          @media (max-width: $tablet) {
            height: 348px;
            width: 100%;
          }

          img {
            @media (max-width: $tablet) {
              min-width: 319px;
            }
          }
        }

        h3 {
          font-family: $font-primary-bold;
          text-align: center;
          margin-top: 36px;
        }
      }
    }
  }
}

.glims-about {
  margin-top: 251px;
  &::before {
    display: none !important;
    content: none;
  }
}
