@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-between-end {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

@mixin font-style($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
}
