.about-ceo {
  padding: 152px 0;

  @media (max-width: $mobile) {
    padding: 72px 0;
  }

  &__container {
    @media (min-width: $desktop) {
      padding-left: 260px;
    }
    @media (max-width: $mobile) {
      padding-left: 0;
    }
  }

  &__wrapper {
    margin-top: 80px;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    @media (max-width: $mobile) {
      gap: 15.83px;
    }
  }

  &__quote-icon {
    @media (max-width: $mobile) {
      width: 18px;
    }
  }

  &__quote {
    display: flex;
    flex-direction: column;
    gap: 100px;
    @media (max-width: $mobile) {
      gap: 36px;
    }
    &__text {
      font-weight: 400;
      @include font-style(44px, 56px);

      @media (max-width: $tablet) {
        @include font-style(28px, 34px);
      }
      @media (max-width: $mobile) {
        @include font-style(18px, 24px);
      }
    }

    &__ceo {
      display: flex;
      justify-content: space-between;
      @media (max-width: $mobile) {
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
      }
      &__data {
        @include flex-center;
        justify-content: start;
        gap: 24px;
        &__img {
          width: 72px;
          height: 72px;
          overflow: hidden;
          border-radius: 50%;
          img {
            width: 72px;
          }
        }

        &__text-box {
          p {
            margin-top: 4px;
          }
          @media (max-width: $mobile) {
            h3 {
              @include font-style(16px, 100%);
            }
          }
        }
      }
      &__arrows {
        display: flex;
        @media (max-width: $mobile) {
          width: 50px;
        }
      }
    }
  }
}
