.hero {
  position: relative;
  &__container {
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(208, 208, 208, 1);
    @media (max-width: $mobile) {
      padding-bottom: 20px;
    }
  }
  &__content-top {
    padding-top: 100px;
    display: flex;
    gap: 80px;
    h1 {
      width: fit-content;
      display: flex;
      flex-direction: column;
      font-family: $font-primary-bold;
      font-weight: bold;
      font-size: clamp(36px, 7vw, 96px);
      line-height: clamp(36px, 7vw, 96px);
      text-transform: uppercase;
    }

    &__star {
      margin-top: 23px;
      width: clamp(80px, 8vw, 140px);
      @media (max-width: $tablet) {
        margin-top: 15px;
        margin-right: 25px;
        align-self: flex-end;
      }
    }

    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 0;
    }
  }
  .vector-1 {
    position: absolute;
    left: 0;
  }
  &__content-bottom {
    width: 100%;
    margin-top: 204px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    p {
      max-width: 590px;
      color: $main-color;
      font-family: $font-secondary;
      font-weight: 400;
      font-size: clamp(18px, 3vw, 24px);
      line-height: clamp(24px, 3vw, 32px);
      vertical-align: middle;
      position: relative;
      z-index: 6;
    }

    &__circle-button {
      width: clamp(120px, 9vw, 160px);
      align-self: flex-end;
    }

    @media (max-width: $mobile) {
      margin-top: 155px;

      flex-direction: column-reverse;
      align-items: center;
      gap: 34px;
    }
  }
  .light-1 {
    width: 100%;
    min-width: 600px;
    position: absolute;
    bottom: -24px;
    right: 0;
    z-index: -1;
  }
}
