.hero {
  position: relative;

  &::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../media/light-hero.svg) no-repeat bottom / 100%;
    transform: translateY(25px);

    @media (max-width: $mobile) {
      background: url(../media/light-hero-mobile.png) no-repeat bottom / 100%;
    }
  }
  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 100px;
    left: 0;
    background: url(../media/vector-hero.png) no-repeat bottom / 100%;
    z-index: 5;

    @media (max-width: $mobile) {
      bottom: 90px;
      background: url(../media/vector-hero-mobile.png) no-repeat bottom / 100%;
    }
  }

  &__container {
    padding-bottom: 80px;
    border-bottom: 1px solid rgba(208, 208, 208, 1);
    @media (max-width: $mobile) {
      padding-bottom: 20px;
    }
  }
  &__content-top {
    position: relative;
    padding-top: 100px;
    display: flex;
    gap: 80px;
    z-index: 100;

    h1 {
      position: relative;
      width: fit-content;
      display: flex;
      flex-direction: column;
      font-family: $font-primary-bold;
      font-weight: bold;
      font-size: clamp(36px, 7vw, 96px);
      line-height: clamp(36px, 7vw, 96px);
      text-transform: uppercase;
      z-index: 100;
    }

    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      right: 8vw;
      background: url(../media/star-hero.svg) no-repeat top right / 140px;
      z-index: 5;

      @media (max-width: $tablet) {
        background: url(../media/star-hero.svg) no-repeat bottom right / 80px;
      }
    }

    @media (max-width: $tablet) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__content-bottom {
    width: 100%;
    margin-top: 262px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      bottom: 74px;
      right: 5vw;
      background: url(../media/circle-hero.svg) no-repeat bottom right / 160px;
      z-index: 5;

      @media (max-width: $tablet) {
        bottom: 150px;

        background: url(../media/circle-hero.svg) no-repeat bottom right / 120px;
      }
    }

    p {
      max-width: 590px;
      color: $main-color;
      font-family: $font-secondary;
      font-weight: 400;
      font-size: clamp(18px, 3vw, 24px);
      line-height: clamp(24px, 3vw, 32px);
      vertical-align: middle;
      position: relative;
      z-index: 6;
    }

    &__circle-button {
      width: clamp(120px, 9vw, 160px);
      align-self: flex-end;
    }

    @media (max-width: $mobile) {
      margin-top: 404px;

      flex-direction: column-reverse;
      align-items: center;
      gap: 34px;
    }
  }
}
