.witness {
  padding-top: 68px;
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 148px;
    right: 0;
    background: url(../media/Vector-witness.svg) no-repeat top / 100%;
    z-index: -1;

    @media (min-width: 2000px) {
      top: -120px;
    }
    @media (min-width: 1600px) and (max-width: 2000px) {
      top: 70px;
    }

    @media (max-width: $tablet) {
      top: 115px;
      background: url(../media/Vector-witness-mobile.svg) no-repeat top / 100%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 80px;
    overflow-x: hidden;
  }

  &__header {
    p {
      max-width: 917px;
      margin-top: 40px;
    }
  }

  &__list {
    padding-bottom: 80px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 40px;
    overflow-x: auto;
    scrollbar-color: rgba(18, 18, 18, 1) rgba(42, 42, 42, 1);
    scrollbar-width: thin;
    &__box {
      display: flex;
      flex-direction: column;
      gap: 36px;
      img {
        width: 100%;
        max-width: 560px;
        min-width: 560px;
        border-radius: 20px;

        @media (max-width: $mobile) {
          max-width: 319px;
          min-width: 319px;
        }
      }

      &__text {
        @include flex-between-end;
      }
    }
  }
}

.witness__list::-webkit-scrollbar {
  height: 8px; /* horizontal scrollbar */
}

.witness__list::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 10px;
}

.witness__list::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

.witness__list::-webkit-scrollbar-thumb:hover {
  background: #666;
}
