.container {
  width: 90%;
  margin-inline: 5vw;
}

.star {
  height: fit-content;
}

.btn {
  padding-bottom: 2px;
  border-bottom: $secondary-border;
  font-family: $font-secondary;
  font-weight: 500;
  font-size: clamp(16px, 1.5vw, 24px);
  line-height: 100%;
  vertical-align: middle;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    padding-bottom: 8px;
  }
}

.heading-text {
  font-family: $font-primary-bold;
  font-size: clamp(32px, 4vw, 64px);
  line-height: clamp(36px, 4vw, 68px);
  text-transform: uppercase;
}

.paragraph {
  font-family: $font-primary-semi;
  font-size: clamp(16px, 2vw, 32px);
  line-height: clamp(20px, 2.2vw, 42px);
  vertical-align: middle;
  text-transform: uppercase;
}

.text-box {
  h3 {
    font-size: clamp(20px, 1.5vw, 24px);
    line-height: clamp(100%, 1.75vw, 28px);
  }
  p {
    font-size: clamp(16px, 1.5vw, 24px);
    line-height: clamp(22px, 2vw, 32px);
    color: $fourth-color;
  }
}

.scroll-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
  white-space: nowrap;
  &__text {
    display: flex;
    align-items: center;
    gap: 40px;
    @media (max-width: $tablet) {
      gap: 16px;
    }
    &:first-of-type {
      align-self: flex-end;
      transform: translateX(-200px);
      animation: scroll-right 80s linear infinite;
    }
    &:last-of-type {
      align-self: flex-start;

      animation: scroll 80s linear infinite;
    }
    p {
      font-family: $font-primary-bold;
      @media (max-width: $tablet) {
        font-size: 32px;
        line-height: 36px;
      }
    }
    img {
      width: 100px;
      @media (max-width: $tablet) {
        width: 48px;
      }
    }
  }
}
@keyframes scroll-right {
  0% {
    transform: translateX(-200px);
  }
  100% {
    transform: translateX(50%);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.wrapper-ceo,
.wrapper-worthy {
  position: relative;
}

.glims-2::before {
  display: none !important;
  content: none;
}
