.content {
  background-color: $secondary-color;
  color: $main-color;

  &__container {
    padding: 80px 0 120px;
    border-top: $main-border;
    display: flex;

    @media (max-width: $desktop) {
      flex-direction: column;
      align-items: center;
      gap: 68px;
      padding: 80px 0;
    }
  }

  &__table {
    max-width: fit-content;
    flex: 1;
    min-width: 0;
    @media (max-width: $tablet) {
      max-width: 100%;
    }

    h3 {
      max-width: 296px;
      font-family: $font-primary-bold;
      @include font-style(24px, 28px);
    }

    &__body {
      padding-bottom: 80px;

      ul {
        max-width: fit-content;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        color: rgba(137, 137, 137, 1);
        font-family: $font-secondary;

        @media (max-width: $tablet) {
          max-width: 100%;
        }

        li {
          max-width: fit-content;
          @include font-style(24px, 32px);
          cursor: pointer;

          &.active {
            color: $main-color;
            border-bottom: $secondary-border;
          }
        }
      }
    }

    &__foot {
      max-width: fit-content;
      padding-top: 40px;
      display: flex;
      gap: 40px;
      border-top: $main-border;
      align-items: center;

      @media (max-width: $tablet) {
        max-width: 100%;
      }

      span {
        font-family: $font-secondary;
        @include font-style(28px, 38px);
      }

      &__social {
        display: flex;
        gap: 20px;
      }
    }
  }
  &__text {
    flex: 3;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__article {
      display: flex;
      flex-direction: column;
      gap: 24px;

      &__sub-article {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 28px;

        .article-image {
          border-radius: 20px;
          overflow: hidden;
        }
      }
    }

    p {
      max-width: 600px;
      @include font-style(20px, 30px);
      color: rgba(18, 18, 18, 1);
    }

    h2 {
      font-family: $font-primary-bold;
      max-width: 600px;
      @include font-style(32px, 36px);
      color: rgba(21, 21, 21, 1);
    }
  }
}
