.our-work {
  position: relative;

  &::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -70px;
    right: 0;
    background: url(../media/light-video.png) no-repeat top / 100%;
    z-index: -1;

    @media (max-width: $tablet) {
      top: -120px;
      background: url(../media/light-video-mobile.png) no-repeat top / 100%;
    }
  }

  &::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 1030px;
    right: 0;
    background: url(../media/vector-our-work.svg) no-repeat top / 100%;
    z-index: -1;

    @media (max-width: $tablet) {
      background: none;
    }
  }

  &__hero {
    &__img {
      width: 100%;
      max-width: 100%;
      max-height: 700px;
      margin: auto;
      border-radius: 20px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    &__text {
      margin-top: 120px;
      padding-left: 264px;

      @media (min-width: $tablet) and (max-width: $desktop-xl) {
        margin-top: 80px;
        padding-left: 200px;
      }

      @media (max-width: $tablet) {
        margin-top: 48px;
        padding-left: 0;
      }

      h2 {
        font-family: $font-primary-bold;
        @include font-style(64px, 68px);

        @media (max-width: $tablet) {
          @include font-style(32px, 38px);
          padding-left: 0;
        }
      }

      p {
        margin-top: 80px;
        @include font-style(44px, 56px);

        @media (max-width: $tablet) {
          margin-top: 24px;
          @include font-style(20px, 30px);
        }
      }
    }
  }

  &__list {
    margin-top: 173px;

    @media (min-width: $tablet) and (max-width: $desktop-xl) {
      margin-top: 90px;
    }

    @media (max-width: $tablet) {
      margin-top: 32px;
    }

    &__item {
      display: grid;
      grid-template-columns: 0.7fr 1fr 2fr;
      align-items: center;
      padding: 80px 0;
      gap: 98px;
      border-bottom: $main-border;

      @media (min-width: $tablet) and (max-width: $desktop-xl) {
        padding: 30px 0;
        gap: 50px;
      }

      @media (max-width: $tablet) {
        grid-template-columns: 1fr;

        gap: 32px;
        padding: 48px 0;
        @include font-style(20px, 30px);
      }

      span {
        align-self: flex-start;
        font-family: $font-secondary;
        color: $third-color;
        @include font-style(24px, 32px);

        @media (max-width: $tablet) {
          @include font-style(20px, 30px);
        }
      }

      h3 {
        font-family: $font-primary-bold;
        @include font-style(24px, 28px);

        @media (min-width: $tablet) and (max-width: $tablet-xl) {
          @include font-style(20px, 24px);
        }

        @media (max-width: $tablet) {
          margin-left: 0;
          margin-top: -20px;
        }
      }

      p {
        color: $third-color;
        @include font-style(20px, 30px);

        @media (min-width: $tablet) and (max-width: $tablet-xl) {
          @include font-style(16px, 20px);
        }

        @media (max-width: $tablet) {
          @include font-style(20px, 30px);
        }
      }
    }
  }

  &__footer {
    padding-top: 120px;
    padding-bottom: 130px;
    width: 100%;

    @media (max-width: $tablet) {
      padding-top: 48px;
      padding-bottom: 60px;
    }

    img {
      width: 100%;
    }

    &__image {
      @media (max-width: $tablet) {
        display: none;
      }
    }
    &__image--mobile {
      @media (min-width: $tablet) {
        display: none;
      }
    }
  }
}
