// 1. Settings & tools
@import "./abstracts/variables";
@import "./abstracts/mixins";

// 2. Base styles (reset, global rules)
@import "./base/reset";
@import "./base/global";
@import "./base/shared";

// 3. Layout (header, footer, grid, etc.)
@import "./layout/header";
@import "./layout/footer";

// 4. Components (buttons, cards, etc.)
@import "./components/button";

// 5. (page-specific styles)
@import "./pages/contact/hero";
@import "./pages/contact/contact";
