// 1. Settings & tools
@import "./abstracts/variables";
@import "./abstracts/mixins";

// 2. Base styles (reset, global rules)
@import "./base/reset";
@import "./base/global";
@import "./base/shared";

// 3. Layout (header, footer, grid, etc.)
@import "./layout/header";
@import "./layout/footer";

// 4. Components (buttons, cards, etc.)
@import "./components/button";

// 5. (page-specific styles)
@import "./pages/news-details/news-details";
@import "./pages/news-details/content";

// hero section
.news-hero {
  .hero__content-top {
    .news-hero-desktop {
      @media (max-width: $tablet) {
        display: none;
      }
    }
    .news-hero-mobile {
      @media (min-width: $tablet) {
        display: none;
      }
    }

    span {
      @include font-style(48px, 56px);
    }
  }
}

.news-link {
  font-family: $font-primary-semi;
  @include font-style(19px, 22px);
  margin-top: 40px;
  padding-bottom: 12px;
  border-bottom: $main-border;
  cursor: pointer;
}
